<form action="/answer" method="POST">

<div class = "container">
	<div class = "row">
		<div class = "col-xs-12 col-s-12 col-md-12 col-lg-12">
					<h1 class= "header title">The Great Oracle</h1>
						<h3 class= "center turnpike">Will predict your future with the utmost scienterrific precision!</h3>
							<br />
								<h4 class= "center turnpike" style ="margin-top: -10px;">Discover What The Oracle Has In Store for YOU!</h4>
		</div>
	</div>

<div class ="row">
	<div class ="nudge">
		<div class = "col-xs-12 col-s-12 col-md-12 col-lg-12">
			<h3>The Oracle is thinking of a number between 1 and 100.  What is this number?</h3>
			<center>
			  <label for="POST-number"><div class= "turnpike">Number:</div></label>
  			  <input class = "backgrounds" id="POST-number" type="number" name="number">
  			</center>

  			<h3>Upon thinking of your year last year, distill it into one word and enter it here.</h3>
  				<center>
	  				<label for="POST-number"><div class= "turnpike">Your Word:</div></label>
	  			  	<input class = "backgrounds" id="POST-number" type="text" name="word">
	  		

  			<h3>Which season is your favorite?</h3>
  				<span class = "turnpike">
  				  <input class = "background" type="checkbox" name="season" value= 1/>Spring</input>
  				   <input class = "background" type="checkbox" name="season" value= 2/>Summer</input>
  				    <input class = "background" type="checkbox" name="season" value= 3/>Fall</input>
  				     <input class = "background" type="checkbox" name="season" value= 4/>Winter</input>
  				</span>

  			<h3>Which would be your favorite pet?</h3>
  				<span class = "turnpike">
  				  <input class = "background" type="checkbox" name="pet" value= 1 />A Bird</input>
  				   <input class = "background" type="checkbox" name="pet" value= 2 />A Dog</input>
  				    <input class = "background" type="checkbox" name="pet" value= 3 />A Cat</input>
  				     <input class = "background" type="checkbox" name="pet" value= 4 />A Fish</input>
  				</span>

  			<h4 class ="turnpike">The Great Oracle has asked that you choose your favorite card to reveal your fortune in the upcoming year.  Click on it now.</h4>
  		

  		<span>
  			 <button class = "borderless" type="submit" value="Submit"><img class = "cards" src="/images/circle.jpg" width="75"></button>
  			 <button class = "borderless" type="submit" value="Submit"><img class = "cards" src="/images/plus.jpg" width="75"></button>
  			 <button class = "borderless" type="submit" value="Submit"><img class = "cards" src="/images/square.jpg" width="75"></button>
  			 <button class = "borderless" type="submit" value="Submit"><img class = "cards" src="/images/star.jpg" width="75"></button>
  			 <button class = "borderless" type="submit" value="Submit"><img class = "cards" src="/images/wqves.jpg" width="75"></button>
  		</span>
  	</center>

		</div>
	</div>
			
	</div><!-- This is the end of the row -->
<div><!-- This is the end of the container -->