<div class = "container">
	<div class = "row">
		<div class = "col-xs-12 col-s-12 col-md-12 col-lg-12">
			<h1 class= "result title">Your Preditiction For The Year Ahead.</h1>			
		</div>
	</div>

<div class ="row">
	<div class ="nudge">
		<div class = "col-xs-12 col-s-12 col-md-12 col-lg-12">
			<center>
				<h1> This Year Will Be The Best Year Yet. </h1>
					<p> The Great Oracle predicts that wonderful fortunes are coming your way this year.  Everything you do will be rewarding and fruitful.  Everyone you meet will bask in your radiant glow.  Enjoy this year! </p>
			</center>
		</div>
	</div>
</div>

</div>		